/* Header
==================================================*/

header {
    position: relative;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}
nav ul {
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
nav li {
    margin: 10px 0;
}
nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu > li {
    margin: 10px 3%;
    text-align: center;
}
.menu > li > a {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.submenu {
    padding-top: 10px;
    display: none;
}
.submenu > li {
    color: #444;
}
.submenu > li > a {
    /* padding: 20px 0; */
    text-align: center;
}


.sm-bg {
    position: absolute;
    top: 65px;
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    z-index: -1;
    /* display: none; */
} 

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #4879bc !important;
    text-decoration: none;
}

a.active {
    color: #4879bc;
}


/* mobile menu */

#mobile {
    display: none;
}
#mobile_btn {
    position: fixed;
    top: 0;
    right: 10px;
    font-size: 32px;
    background: none;
    color: #4879bc;
    z-index: 5;
}
#mobile_btn:focus {
    outline: none;
}
#mobile_menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f3f3f3;
}
#mobile_menu > li > a {
    color: #000;
}

/* Responsive media queries
==================================================*/

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    header {
        display: none;
    }
    #mobile {
        display: block;
    }
    .spin-txt {
        /* left: 12%; */
        width: 250px;
        height: 250px;
    }
}